<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(235,87,87,0.3) 50%), url('<%=asset_path("images/burger.jpg")%>);">
  <div class="banner-content">
      <h1>Home made for home</h1>
      <div class ="btn btn-primary btn-lg"><%= link_to "Search" %></div>
  </div>
</div>


<div class="row">
  <ul class = "list-unstyled">
    <% @burgers.each do |burger| %>
    <li>
     <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
            <%= link_to burger.name, burger_path(burger) %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

