.about-background {
  background: #ecf0f1;
  // border: 1px solid #D23333;
  border-radius: 7px;
  // radius-color: #e74c3c;
  padding: 2em 0;
}

.padded {
  padding: 30px 0;
}

.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.content {
  display: flex;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 70px);
}
.profile .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}
.profile .description {
  grid-row: 2;
  grid-column: 3 / span 2;
}
.main, .description, .stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.main, .description {
  // background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

.background {
  background-image: url("background.jpg");
  opacity: 0.2px;
}

.profile .video-container {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 60px 30px;
  margin: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  grid-column: 1 / span 2;
}

.profile .video-container video {
  width: 100%;
}

/* Fonts and colors */

.profile h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-family: "Open Sans";
  // font-weight: bold;
  color: #e74c3c;
  letter-spacing: 3px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;

}
.profile p {
  color: rgba(0,0,0,0.6);
}
.profile .btn {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #37B686;
}
.profile .btn:hover {
  background: #37B686;
  opacity: 0.7;
}
.stat h3 {
  color: rgba(0,0,0,0.9);
  font-size: 28px;
  font-weight: normal;
}
.stat p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}
.description h3 {
  color: #e74c3c;
  font-size: 28px;
  font-weight: normal;

}
.description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}

.about-title {
    font-family: antic, sans-serif;
    letter-spacing: 3px;
    color: #333;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.about-avatar {
  border-radius: 50px;
}


.smiley {
 font-size: 50px;
}
