<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>


<%= form_for([@burger, @order]) do |f| %>

  <%= f.label :quantity, 'Quantité' %>
  <%= f.text_field :quantity %>

  <%= f.submit %>
 <% end %>
