.btn-push {
  color: white;
  background-color: #EB5757;
  border: 2px solid #EB5757;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: lighter;
  opacity: 0.95;
}

.btn-push:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.btn-burgeers {
  color: #EB5757;
  border: 2px solid #EB5757;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: lighter;
  opacity: 0.9;
}

.btn-burgeers:hover {
  opacity: 1;
  text-decoration: none;
  color: #EB5757;
}


.btn-push-order {
  color: white;
  background-color: #EB5757;
  border: 2px solid #EB5757;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: lighter;
  opacity: 0.95;
  margin-top: 30px;
}

.btn-home {
  color: #EB5757;
  border: 2px solid #EB5757;
  padding: 2px 2px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}

.btn-home:hover {
  opacity: 1;
  text-decoration: none;
  color: #EB5757;
}

