.my-input {
  border-color: #d3d3d3;
}

.form-burger {
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  border: 0,5px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
}

#new_order {
  display: inline;
}

.form-show {
  width : 135px;
}

